body{
  background-color: #E2F7FF;
}

ul{
  list-style: none;
}

.jumbotron{
  background-color: #9BE3FF;
  text-align: center;
}

.col-md-2{
  border: 3px solid #B8EBFF;
  padding: 10px;
  background-color: #B8EBFF;
  float:left;
}