body{
  background-color: #E2F7FF;
}

ul{
  list-style: none;
}

.jumbotron{
  background-color: #9BE3FF;
  text-align: center;
}

.col-md-3{
  border: 3px solid #B8EBFF;
  padding: 10px;
  background-color: #B8EBFF;
  height: 600px;
  float:left;
}

.col-md-3 h4{
  color: #FF851B;
}

.col-md-3 p{
  color: #AAAAAA;
  font-weight: bold;
}