body{
  background-color: #E2F7FF;
}

ul{
  list-style: none;
}

.jumbotron{
  background-color: #9BE3FF;
}

.col-md-2{
  border: 3px solid #B8EBFF;
  padding: 10px;
  background-color: #B8EBFF;
  float:left;
}

.column1 h5{
  font-weight: bold;
}